name:  Build LabyVisuals Addon

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - run: cd labyvisuals-addon && gradle build
      - uses: actions/upload-artifact@v4
        with:
          name: labyvisuals-addon
          path: labyvisuals-addon/build/libs/*.jar
